#friends-display-link {
  display: flex;
  justify-content: center;
  padding: 0px 0px 20px 0px;
  background-color: #fafafa;
}
#friends-display-link i {
  display: flex;
  align-items: center;
  margin: 0px 5px;
  color: rgba(0, 0, 0, 0.3);
}

.friend-screen {
  padding: 0px var(--horizontal-space);
}

.friend-screen__channel {
  margin: 25px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friend-screen__channel-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.splash-screen {
  background-color: rgb(117, 207, 223);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  width: 100vw;
  height: 100vh;
  top: 0px;
  animation: hidesplash 0.6s ease-in-out forwards;
  animation-delay: 1s;
}

.splash-screen__circle {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 0.7;
}

@keyframes hidesplash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
