.more-screen .icons-row {
  margin-top: 40px;
  margin-bottom: 200px;
}

.more__suggestions {
  margin: 30px 0px;
  border-top: var(--main-border);
}

.more__suggestions-title {
  font-weight: 600;
  margin: 20px 0px;
}
.more__suggestions-icons {
  display: flex;
}
.more__suggestions-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 25px 0px 10px;
}
.more__suggestion-icon-image {
  background-color: var(--yellow);
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}
.more__suggestions-icon-text {
  font-size: 14px;
  opacity: 0.8;
}

.more__suggestion-icon-image2 {
  background-color: rgb(245, 212, 245);
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.more__suggestion-icon-image3 {
  background-color: rgb(73, 194, 250);
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}
