.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(77, 77, 77, 0.4);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  display: flex;

  position: relative;
}

.nav__notification {
  top: -5px;
  right: -10px;
  font-weight: 600;
  position: absolute;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.nav__notification2 {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  top: -5px;
  right: -10px;
  font-weight: 600;
  animation: notificationAnimation 1s ease-in-out infinite;
}

@keyframes notificationAnimation{
  0% {transform: none;}
  50%{transform: translateY(-5px);}
  100%{transform: none;}
}

@keyframes NavbtnAnimation{
  from {opacity: 0;}

  to{ opacity: 1;
  transform: none;}
}

.nav__btn {animation: NavbtnAnimation .3s ease-in-out forwards;
  opacity: 0; 
  transform: translateY(50px)}

.nav__btn:nth-child(2) {animation-delay: 0.3s;}
.nav__btn:nth-child(3) {animation-delay: 0.5s;}
.nav__btn:last-child {animation-delay: 0.8s;}
