.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 15px 25px 25px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icon span {
  margin-left: 20px;
}

@keyframes cogAnimation {
  from {transform:rotateZ(360deg);}
  to {transform: none;}
}
.screen-header .fa-cog:hover{animation: cogAnimation 1s linear infinite;}