.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-left: 25px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icon span {
  margin-left: 20px;
}
